/* Сброс стилей */  
* {  
  /* Устанавливает нулевые отступы и поля для всех элементов */
  margin: 0;  
  padding: 0;  
  /* Устанавливает модель ящика для всех элементов, чтобы отступы и поля были включены в ширину и высоту элемента */
  box-sizing: border-box;  
}  
  
/* Общие стили */  
body {  
  /* Устанавливает шрифт по умолчанию для всего тела */
  font-family: 'Brush Script MT, Brush Script Std, cursive';  
  /* Устанавливает цвет текста по умолчанию */
  color: #333;  
  /* Устанавливает цвет фона по умолчанию */
  background-color: #fff;  
}  
header {  
  /* Устанавливает цвет фона для заголовка */
  background-color: #000;  
  /* Устанавливает цвет текста для заголовка */
  color: #fff;  
  /* Устанавливает отступы для заголовка */
  padding: 100px 0;  
}  
.logo {  
  /* Устанавливает максимальную ширину для логотипа */
  max-width: 150px;  
  /* Устанавливает ширину для логотипа */
  width: 100px;  
  /* Позиционирует логотип абсолютно */
  position: absolute;  
  /* Устанавливает расстояние от верха до логотипа */
  top: 20px;  
  /* Устанавливает расстояние от левого края до логотипа */
  left: 20px;  
}  
  
.logo img {  
  /* Устанавливает максимальную ширину для изображения логотипа */
  max-width: 150px;  
  /* Устанавливает ширину для изображения логотипа */
  width: 100px;  
  /* Позиционирует изображение логотипа абсолютно */
  position: absolute;  
  /* Устанавливает расстояние от верха до изображения логотипа */
  top: 20px;  
  /* Устанавливает расстояние от левого края до изображения логотипа */
  left: 20px;  
  
}  
  
nav {  
  /* Позиционирует навигацию абсолютно */
  position: absolute;  
  /* Устанавливает расстояние от верха до навигации */
  top: 20px;  
  /* Устанавливает расстояние от правого края до навигации */
  right: 20px;  
}  
  
nav ul {  
  /* Выравнивает элементы списка по горизонтали */
  display: flex;  
  /* Выравнивает элементы списка по вертикали */
  align-items: center;  
}  
  
nav li {  
  /* Устанавливает отступ справа для элементов списка */
  margin-right: 20px;  
  /* Убирает маркеры списка */
  list-style-type: none;  
}  
  
nav a {  
  /* Устанавливает цвет текста для ссылок */
  color: rgb(255, 255, 255);  
  /* Убирает подчеркивание для ссылок */
  text-decoration: none;  
}  
  
nav a:hover {  
  /* Устанавливает цвет текста для ссылок при наведении курсора */
  color: #FF6F00;  
  /* Добавляет плавную анимацию при наведении курсора */
  transition: 0.3s;  
}  
  
.container {  
  /* Устанавливает максимальную ширину для контейнера */
  max-width: 1200px;  
  /* Выравнивает контейнер по центру */
  margin: 0 auto;  
}  
main {  
  /* Устанавливает отступы для основного контента */
  padding: 20px;  
}  
  
h1 {  
  /* Устанавливает шрифт для заголовка первого уровня */
  font-family: 'Brush Script MT, Brush Script Std, cursive';  
  /* Устанавливает отступ снизу для заголовка первого уровня */
  margin-bottom: 20px;  
  /* Устанавливает размер шрифта для заголовка первого уровня */
  font-size: 24px;  
}  
  
.contacts {  
  /* Выравнивает элементы по горизонтали */
  display: flex;  
  /* Равномерно распределяет пространство между элементами */
  justify-content: space-between;  
  /* Выравнивает элементы по вертикали */
  align-items: center;  
  /* Устанавливает цвет фона для блока с контактной информацией */
  background-color: #fff;  
  /* Устанавливает отступы для блока с контактной информацией */
  padding: 20px;  
}  
  
.address, .phone, .email {  
  /* Задает ширину для каждого элемента контактной информации */
  width: 33%;  
}  
  
.form {  
  /* Устанавливает цвет фона для формы */
  background-color: #fff;  
  /* Устанавливает отступы для формы */
  padding: 20px;  
}  
  
h2 {  
  /* Устанавливает отступ снизу для заголовка второго уровня */
  margin-bottom: 20px;  
  /* Устанавливает размер шрифта для заголовка второго уровня */
  font-size: 18px;  
}  
  
form{  
  /* Выравнивает элементы формы по вертикали */
  display: flex;  
  /* Устанавливает направление элементов формы по вертикали */
  flex-direction: column;  
  /* Устанавливает зазор между элементами формы */
  gap: 10px;  
}  
  
input, textarea {  
  /* Задает ширину для полей ввода и текстовых областей */
  width: 100%;  
  /* Устанавливает отступы для полей ввода и текстовых областей */
  padding: 10px;  
  /* Устанавливает границу для полей ввода и текстовых областей */
  border: 1px solid #ccc;  
}  
  
textarea {  
  /* Устанавливает высоту для текстовых областей */
  height: 100px;  
}  
  
button {  
  /* Задает ширину для кнопки */
  width: 100%;  
  /* Устанавливает отступы для кнопки */
  padding: 10px;  
  /* Устанавливает отступ снизу для кнопки */
  margin-bottom: 100px;  
  /* Устанавливает цвет фона для кнопки */
  background-color: #000;  
  /* Устанавливает цвет текста для кнопки */
  color: #fff;  
  /* Убирает границу для кнопки */
  border: none;  
  /* Устанавливает курсор для кнопки */
  cursor: pointer;  
}  
  
.footer {  
  /* Устанавливает цвет фона для подвала */
  background-color: #000000;  
  /* Устанавливает цвет текста для подвала */
  color: white;  
  /* Выравнивает подвал по центру */
  display: block;  
  /* Устанавливает высоту подвала */
  height: 200px;  
  /* Позиционирует подвал абсолютно */
  left: 0;  
  position: absolute;  
  /* Задает ширину подвала */
  width: 100%;  
  /* Устанавливает отступы для подвала */
  padding-left: 150px;  
  padding-top: 95px;  
} 