/* Сброс стилей */ 
* { 
    /* Сбрасываем поля (margin) и отступы (padding) для всех элементов */
    margin: 0; 
    padding: 0; 
    /* Устанавливаем модель определения размера блока (box-sizing) */
    /* в значение 'border-box', чтобы ширина и высота элемента */
    /* включали в себя ширину границы (border) и внутренний отступ (padding) */
    box-sizing: border-box; 
} 
 
/* Общие стили */ 
body { 
    /* Устанавливаем шрифт для тела документа */
    font-family: 'Brush Script MT, Brush Script Std, cursive'; 
    /* Устанавливаем цвет текста тела документа */
    color: #333; 
    /* Устанавливаем цвет фона тела документа */
    background-color: #fff; 
} 
header { 
    /* Устанавливаем цвет фона шапки */
    background-color: #000; 
    /* Устанавливаем цвет текста шапки */
    color: #fff; 
    /* Задаем отступы сверху и снизу для шапки */
    padding: 100px 0; 
} 
.logo { 
    /* Устанавливаем максимальную ширину элемента */
    max-width: 150px; 
    /* Устанавливаем ширину элемента */
    width: 100px; 
    /* Устанавливаем элемент в абсолютное позиционирование */
    position: absolute; 
    /* Устанавливаем верхнее отстояние элемента */
    top: 20px; 
    /* Устанавливаем левое отстояние элемента */
    left: 20px; 
} 
 
.logo img { 
    /* Устанавливаем максимальную ширину изображения */
    max-width: 150px; 
    /* Устанавливаем ширину изображения */
    width: 100px; 
    /* Устанавливаем изображение в абсолютное позиционирование */
    position: absolute; 
    /* Устанавливаем верхнее отстояние изображения */
    top: 20px; 
    /* Устанавливаем левое отстояние изображения */
    left: 20px; 
 
} 
 
nav { 
    /* Устанавливаем элемент в абсолютное позиционирование */
    position: absolute; 
    /* Устанавливаем верхнее отстояние элемента */
    top: 20px; 
    /* Устанавливаем правое отстояние элемента */
    right: 20px; 
} 
 
nav ul { 
    /* Устанавливаем элемент в  контекст Flexbox */
    display: flex; 
    /* Центрируем элементы  вдоль вертикальной оси */
    align-items: center; 
} 
 
nav li { 
    /* Устанавливаем правый отступ для элементов */
    margin-right: 20px; 
    /* Убираем стандартные маркеры (точки) из списка */
    list-style-type: none; 
} 
 
nav a { 
    /* Устанавливаем цвет текста ссылок */
    color: rgb(255, 255, 255); 
    /* Убираем подчеркивание у текста ссылок */
    text-decoration: none; 
} 
 
nav a:hover { 
    /* Меняем цвет текста ссылок на оранжевый при наведении курсора */
    color: #FF6F00; 
    /* Добавляем плавную анимацию (переход) при изменении цвета текста */
    transition: 0.3s; 
} 
 
.container { 
    /* Устанавливаем максимальную ширину элемента */
    max-width: 1200px; 
    /* Центрируем элемент по горизонтали */
    margin: 0 auto; 
} 
h1 { 
    /* Устанавливаем отступ сверху для заголовка */
    margin-top: 50px; 
    /* Устанавливаем отступ снизу для заголовка */
    margin-bottom: 50px; 
} 
 
.sights { 
  /* Устанавливаем элемент в контекст Flexbox */
  display: flex; 
  /* Разрешаем элементам переходить на новую строку, если они не помещаются в одну */
  flex-wrap: wrap; 
  /* Располагаем элементы с равными отступами между ними и краями контейнера */
  justify-content: space-between; 
  /* Устанавливаем правый отступ для элемента */
  margin-right: 20px; 
} 
 
.sight { 
  /* Устанавливаем ширину элемента */
  width: 25%; 
  /* Устанавливаем отступ снизу для элемента */
  margin-bottom: 20px; 
  /* Устанавливаем правый отступ для элемента */
  margin-right: 20px; 
} 
 
.sight img { 
  /* Устанавливаем ширину изображения */
  width: 100%; 
  /* Устанавливаем высоту изображения */
  height: 200px; 
  /* Задаем поведение изображения */
  /* чтобы оно покрывало всю область элемента */
  /* при необходимости растягиваясь или обрезаясь */
  object-fit: cover; 
} 
 
.sight h2 { 
    /* Устанавливаем шрифт для заголовка */
    font-family: 'Brush Script MT, BrushScript Std, cursive'; 
    /* Устанавливаем отступ сверху для заголовка */
    margin-top: 10px; 
    /* Устанавливаем размер шрифта */
    font-size: 20px; 
} 
 
.sight p { 
    /* Устанавливаем шрифт для текста */
    font-family: 'Brush Script MT, Brush Script Std, cursive'; 
    /* Устанавливаем отступ сверху для текста */
    margin-top: 5px; 
    /* Устанавливаем размер шрифта */
    font-size: 16px; 
} 
 
.footer { 
    /* Устанавливаем цвет фона элемента */
    background-color: #000000; 
    /* Устанавливаем цвет текста */
    color: white; 
    /* Устанавливаем элемент в блочный контекст (block) */
    display: block; 
    /* Устанавливаем высоту элемента */
    height: 200px; 
    /* Устанавливаем левое отстояние элемента */
    left: 0; 
    /* Устанавливаем элемент в абсолютное позиционирование */
    position: absolute; 
    /* Устанавливаем ширину элемента */
    width: 100%; 
    /* Задаем отступ слева для элемента */
    padding-left: 150px; 
    /* Задаем отступ сверху для элемента */
    padding-top: 95px; 
}
