/* Сброс стилей */ 
* { 
    /* Устанавливает нулевые отступы и поля для всех элементов */
    margin: 0; 
    padding: 0; 
    /* Устанавливает модель ящика для всех элементов, чтобы отступы и поля были включены в ширину и высоту элемента */
    box-sizing: border-box; 
} 
 
/* Общие стили */ 
body { 
    /* Устанавливает шрифт по умолчанию для всего тела */
    font-family: 'Brush Script MT, Brush Script Std, cursive'; 
    /* Устанавливает цвет текста по умолчанию */
    color: #333; 
    /* Устанавливает фоновое изображение для тела */
    background-image: url('../IMAGE/background.jpg'); 
    /* Задает способ масштабирования фонового изображения */
    background-size: cover; 
    /* Задает положение фонового изображения */
    background-position: center; 
    /* Задает высоту тела на 100% высоты окна просмотра */
    height: 100vh; 
    /* Задает повторение фонового изображения */
    background-repeat: no-repeat;} 
.btn { 
    /* Преобразует кнопку в строчный блочный элемент */
  display: inline-block; 
    /* Задает цвет фона для кнопки */
  background: #333; 
    /* Задает цвет текста для кнопки */
  color: #fff; 
    /* Задает отступы для кнопки */
  padding: 12px; 
    /* Задает радиус скругления углов кнопки */
  border-radius: 3px; 
    /* Убирает подчеркивание для ссылки */
  text-decoration: none; 
    /* Задает шрифт для кнопки */
  font-family: 'Brush Script MT, Brush Script Std, cursive'; 
    /* Задает размер шрифта для кнопки */
  font-size: 18px; 
    /* Задает высоту строки для кнопки */
  line-height: 1; 
    /* Задает толщину шрифта для кнопки */
  font-weight: 100; 
    /* Устанавливает курсор для кнопки */
  cursor: pointer; 
} 
 
.container { 
    /* Задает максимальную ширину для контейнера */
    max-width: 1200px; 
    /* Выравнивает контейнер по центру */
    margin: 0 auto; 
} 
 
/* Шапка сайта */ 
header { 
    /* Устанавливает относительное позиционирование для шапки */
    position: relative; 
    /* Задает цвет фона для шапки */
    background-color: #000; 
    /* Задает цвет текста для шапки */
    color: #fff; 
} 
 
.logo { 
    /* Задает максимальную ширину для логотипа */
    max-width: 150px; 
    /* Задает ширину для логотипа */
    width: 100px; 
    /* Позиционирует логотип абсолютно */
    position: absolute; 
    /* Задает расстояние от верха до логотипа */
    top: 20px; 
    /* Задает расстояние от левого края до логотипа */
    left: 20px; 
} 
 
.logo img { 
    /* Задает максимальную ширину для изображения логотипа */
    max-width: 150px; 
    /* Задает ширину для изображения логотипа */
    width: 100px; 
    /* Позиционирует изображение логотипа абсолютно */
    position: absolute; 
    /* Задает расстояние от верха до изображения логотипа */
    top: 20px; 
    /* Задает расстояние от левого края до изображения логотипа */
    left: 20px; 
 
} 
 
nav { 
    /* Позиционирует навигацию абсолютно */
    position: absolute; 
    /* Задает расстояние от верха до навигации */
    top: 20px; 
    /* Задает расстояние от правого края до навигации */
    right: 20px; 
} 
 
nav ul { 
    /* Выравнивает элементы списка по горизонтали */
    display: flex; 
    /* Выравнивает элементы списка по вертикали */
    align-items: center; 
} 
 
nav li { 
    /* Задает отступ справа для элементов списка */
    margin-right: 20px; 
    /* Убирает маркеры списка */
    list-style-type: none; 
} 
 
nav a { 
    /* Задает цвет текста для ссылок */
    color: rgb(255, 255, 255); 
    /* Убирает подчеркивание для ссылок */
    text-decoration: none; 
} 
 
nav a:hover { 
    /* Задает цвет текста для ссылок при наведении курсора */
    color: #FF6F00; 
    /* Добавляет плавную анимацию при наведении курсора */
    transition: 0.3s; 
} 
 
/* Заставка */ 
.hero { 
    /* Устанавливает относительное позиционирование для заставки */
    position: relative; 
    /* Задает высоту заставки на 100% высоты окна просмотра */
    height: 100vh; 
    /* Задает способ масштабирования фонового изображения */
    background-size: cover; 
    /* Задает положение фонового изображения */
    background-position: center; 
} 
 
.hero-text { 
    /* Позиционирует текст заставки абсолютно */
    position: absolute; 
    /* Задает расстояние от верха до текста */
    top: 50%; 
    /* Задает расстояние от левого края до текста */
    left: 50%; 
    /* Выравнивает текст по центру */
    transform: translate(-50%, -50%); 
    /* Задает цвет текста */
    color: #FFFFFF; 
} 
 
.hero-text h3 { 
    /* Задает шрифт для заголовка */
    font-family: 'Brush Script MT, Brush Script Std, cursive'; 
    /* Задает размер шрифта для заголовка */
    font-size: 48px; 
    /* Задает отступ снизу для заголовка */
    margin-bottom: 20px; 
    /* Задает цвет текста */
    color: #FFFFFF; 
    /* Задает тень для текста */
    text-shadow: 1px 1px 20px #838383; 
 
} 
 
.hero-text p { 
    /* Задает шрифт для текста */
    font-family: 'Brush Script MT, Brush Script Std, cursive'; 
    /* Задает размер шрифта для текста */
    font-size: 18px; 
    /* Задает отступ снизу для текста */
    margin-bottom: 40px; 
    /* Задает цвет текста */
    color: #FFFFFF; 
    /* Задает тень для текста */
    text-shadow: 1px 1px 20px #838383; 
} 
 
.hero-text a { 
    /* Задает цвет текста для ссылки */
    color: #fff; 
    /* Задает цвет фона для ссылки */
    background-color: #FF6F00; 
    /* Задает отступы для ссылки */
    padding: 10px 20px; 
    /* Убирает подчеркивание для ссылки */
    text-decoration: none; 
    /* Задает тень для ссылки */
    box-shadow: 0px 5px 30px #838383 
} 
 
.hero-text a:hover { 
    /* Задает цвет текста для ссылки при наведении курсора */
    color: #ccc; 
    /* Добавляет плавную анимацию при наведении курсора */
    transition: 0.3s; 
} 
 
.hero-image { 
    /* Позиционирует изображение заставки абсолютно */
    position: absolute; 
    /* Задает расстояние от верха до изображения */
    top: 0; 
    /* Задает расстояние от левого края до изображения */
    left: 50%; 
    /* Выравнивает изображение по центру */
    transform: translate(-50%, 0); 
    /* Задает ширину изображения */
    width: 100%; 
    /* Задает высоту изображения */
    height: 100%; 
} 
 
.hero-image img { 
    /* Задает способ заполнения изображения */
    object-fit: cover; 
} 
 
/* Афиша мероприятий */ 
.events { 
    /* Задает цвет фона для блока с афишей */
    background-color: #f5f5f5; 
    /* Задает отступы для блока с афишей */
    padding: 50px 0; 
} 
 
.events h2 { 
    /* Задает шрифт для заголовка */
    font-family: 'Brush Script MT, Brush Script Std, cursive'; 
    /* Задает размер шрифта для заголовка */
    font-size: 36px; 
    /* Задает отступ снизу для заголовка */
    margin-bottom: 20px; 
} 
 
.events-list { 
    /* Выравнивает элементы списка по горизонтали */
    display: flex; 
    /* Равномерно распределяет пространство между элементами */
    justify-content: space-around; 
    /* Разрешает перенос элементов на новую строку */
    flex-wrap: wrap; 
} 
 
.event { 
    /* Задает ширину для каждого элемента афиши */
    width: 30%; 
    /* Задает отступ для каждого элемента афиши */
    margin: 15px; 
} 
.footer { 
    /* Задает цвет фона для подвала */
    background-color: #000000; 
    /* Задает цвет текста для подвала */
    color: white; 
    /* Выравнивает подвал по центру */
    display: block; 
    /* Задает высоту подвала */
    height: 200px; 
    /* Позиционирует подвал абсолютно */
    left: 0; 
    position: absolute; 
    /* Задает ширину подвала */
    width: 100%; 
    /* Задает отступы для подвала */
    padding-left: 150px; 
    padding-top: 95px; 
} 